<html>
<head>
    <style type="text/css">
        table,th,td
       {
       border:1px solid black;
       }
    </style>
    <title>Salam</title>
</head>
<body>

    {% if name %}
    <h1> {{name}} </h1>
    {% else %}
    <h1> Hello World</h1>
    {% endif %}
<table style="width:100%">
    <tr>
     <th> Company_name</th>
     <th> Employee_name</th>
     <th> AnnuelGsalary</th>
     <th> Totalltaxe</th>
     <th> Net_salary</th>

    </tr>
     <tr>
     <th> Company-Name </th>
     <th> ?php echo $EmployeeFullName?</th>
     <th> ?php echo $AnnuelGSalary?</th>
     <th> ?php echo $TotalTaxe?</th>
     <th> ?php echo $NetSalary?</th>

    </tr>



 </table>


</body>

</html>



</body>

</html>
